# Backend
DATABASE_URL=
SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# AI
GEMINI_API_KEY=

# Email
EMAIL_FROM=
EMAIL_TO=
EMAIL_PASSWORD=

# Frontend
VITE_API_URL=